* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

/* Width wrapper */
.max-width-wrapper {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 24px;
}

/* Header */
/* Space around header content */
.intro-chunk {
  padding-top: 96px;
  padding-bottom: 64px;
}

/* Main */
}

/* Main */
/* Padding */
main {
  padding: 64px;
}


/* Green color on bolded words */
strong {
  color: hsl(160deg, 100%, 30%);
}

