* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

/* Center body */
body {
  margin: 64px 128px;
}

/* Green color on bolded words */
strong {
  color: hsl(160deg, 100%, 30%);
}

/* Header max width */
header .max-width-wrapper {
  max-width: 325px;
}
